<div class="container">
  
  <div class="row">

    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
    <div class="col-xs-3">
      <h2>User info</h2>
      <img src="" alt="">     <!-- userが登録したimg -->
      <table class="table">
        <tr>
          <th>name</th>
          <th>DMM</th>
        </tr>
        <tr>
          <th>introduction</th>
          <th>頑張ります！</th>
        </tr>
      </table>

      <!-- 編集へ -->
      <div class="row">
        <a href="#">編集</a>
      </div>
      <!-- 編集へ -->

      <h2>New book</h2>
      <div class="row">
        <label for="book_title">Title</label>
        <input class="col-xs-12 book_title" type="text" name="book[title]">
      </div>
      <div class="row">
        <label for="book_opinion">Opinion</label>
        <input class="col-xs-12 book_body" type="text" name="book[body]">
      </div>


    </div>
    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
  
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->
    <div class="col-xs-9">
      <h2>Books</h2>
      <title>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <!-- form_forを使う？ -->
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <!-- form_forを使う？ -->
        
      </title>

      CopyRight Infratop.Inc
    </div>
    <!-- Books --><!-- Books --><!-- Books --><!-- Books -->

  </div>
</div>