<%# Homeページ %>

<div class="container">
  
  <div class="row">

    <!-- User info --><!-- User info --><!-- User info --><!-- User info -->
    <div class="col-xs-3">
      <%= render 'books/info', book: @book %>
    </div>
      <!-- User info --><!-- User info --><!-- User info --><!-- User info -->

      <!-- Books --><!-- Books --><!-- Books --><!-- Books -->
    <div class="col-xs-9">
      <h2>Books</h2>
      <div class="alt-table-responsive">
        <table class="table">
            <tr>
              <th class="col-xs-2"></th>
              <th class="col-xs-4">Title</th>
              <th class="col-xs-6">Opinion</th>
            </tr>
              <!-- form_forを使う？ -->
              
            <tr>
              <td class="col-xs-2"></td>
              <td class="col-xs-4"></td>
              <td class="col-xs-6"></td>
            </tr>
              <!-- form_forを使う？ -->
        </table>
        </div>
      </div>
    </div>
      <!-- Books --><!-- Books --><!-- Books --><!-- Books -->

  </div>
</div>